# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Local data
data/bronze/*
data/silver/*
data/gold/*

# Secrets
.env
*.pem
*.key

# Editor
.vscode/
.idea/
.DS_Store
